<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Update Person</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/shards.min.css">
</head>
<body>
<div class="container my-5">
    <h2 class="mb-5">Update Person</h2>
    <div class="row">
        <div class="col-md-6">
            <form action="#" th:action="@{/update/{id}(id=${person.id})}" th:object="${person}" method="post">
                <div class="row">
                    <div class="form-group col-md-6">
                        <label for="name" class="col-form-label">Name</label>
                        <input type="text" th:field="*{name}" class="form-control" id="name" placeholder="Name">
                        <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="birthDate" class="col-form-label">Date of birth4:</label>
                        <input type="date" th:field="*{birthDate}" class="form-control" id="birthDate" placeholder="BirthDate">
                        <span th:if="${#fields.hasErrors('birthDate')}" th:errors="*{birthDate}" class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="salary" class="col-form-label">Salary</label>
                        <input type="text" th:field="*{salary}" class="form-control" id="salary" placeholder="Salary">
                        <span th:if="${#fields.hasErrors('salary')}" th:errors="*{salary}" class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="position" class="col-form-label">Position</label>
                        <select th:field="*{position}" class="form-control" id="position" placeholder="position">
                            <option th:each="position : ${allPositions}"
                                    th:value="${position}"
                                    th:text="${'what a: ' + position}">
                        </select>
                        <span th:if="${#fields.hasErrors('position')}" th:errors="*{position}" class="text-danger"></span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 mt-5">
                        <input type="submit" class="btn btn-primary" value="Update Person">
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>